@import "settings";
@import "foundation";
@import "angular-carousel";

.\+fill {
	width: 100%;
	height: 100%;
}

.\+middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.\+center {
	text-align: center;
}

\.faded-text {
	color: #999;
}

.\+no-overflow {
	overflow: hidden;
}

::selection {
  background: $primary-color;
  color: #fff;
}

#loading-logo {
	width: 283px;
	height: 60px;
	display: block;
	margin: 0 auto 25px;
	background-repeat: no-repeat;
	background-image: url(../img/neo-logo.png);
	img {
		display: none;
	}
	@include breakpoint(medium) {
		width: 283px;
		height: 60px;
		background-size: 283px 60px;
	}
}

.below-loading-logo {
	text-align: center;
	span {
		color: #999;
		font-size: 15px;
	}
}

.fade-in {
    transition: opacity 1s;
    opacity: 1;
}

.fade-out {
    transition: opacity .5s;
    opacity: 0;
}

.hide-element {
	display: none;
}

span.footnote {
	font-size: 14px;
	color: #666;
}

.content {
	@include grid-content;
	.inner-container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.inner-container.smaller {
		max-width: 900px;
	}
	&.\+pad-abit {
		@include breakpoint(large) {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}

// Fix alignment issue Facebook and twitter button
.twitter-share-button[style] { vertical-align: top; margin-left: 5px; }


// -----------------------
// Loading
// -----------------------

panda-loading {
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	#loading-bar {
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 4px;
		position: absolute;
	    background-color: $primary-color;
	}
}

// -----------------------
// Blog
// -----------------------

#content-wrapper {
 	margin-top:200px;
	.blog {
		max-width: 900px;
		max-width: 0 auto;
		article header time {
			color: #888;
			margin-bottom: 0;
			font-size: 14px;
		}
		article header h1 {
			font-weight: 700;
			font-size: 40px;
			margin-top: 0;
		}
		article header h1 a {
			color: #555;
			transition: all .4s ease;
		}
		article header h1 a:hover {
			color:#333
		}
		article p {
			color: #474747;
		}
		article {
			margin-bottom: 100px;
		}
	}
}

// -----------------------
// Navigation
// -----------------------

panda-navigation {
	top: 0;
	width: 100%;
	padding: 10px 0;
	position: fixed;
	background-color: rgba(#fff,.3);
	.container {
		@include grid-block(12);
	}
	.site-logo {
		@include grid-block(6);
		.content {
			@include grid-content;
		}
		a {
			width: 40px;
			height: 40px;
			display: block;
			background: url('../img/neo-logo.png');
			background-size: 188px 40px;
			@include breakpoint(large) {
				//width: 188px;
			}
		}
		img {
			max-height: 40px;
		}
	}
	.mobile-menu {
		@include grid-block(6);
		.content {
			@include grid-content;
			a {
				float: right;
				line-height: 40px;
			}
		}
		@include breakpoint(large) {
			display: none;
		}
	}
	.desktop-menu {
		display: none;
		padding: 10px 0;
		@include breakpoint(large) {
			@include grid-block(6);
			.content {
				@include grid-content;
			}
			ul {
				margin: 0;
				padding: 0;
				float: right;
				list-style: none;
			}
			ul > li {
				float: left;
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				&.active > a {
					background-color: lighten($primary-color,5%);
					padding: 0 10px;
					color: #fff;
					border-radius: 5px;
					display: inline-block;
					&:hover {
						background-color: $primary-color;
						color: #fff;
					}
				}
			}
			ul > li > a {
				color: #777;
				transition: all .3s ease;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	@include breakpoint(large) {
		position: absolute;
	}
}


// -----------------------
// Home
// -----------------------

#page-container .home {
	background-size: cover;
	background-position: top right;
	background-image: url(../img/bg.png);
	@include breakpoint( large ) {
		background-position: center;
	}
}
#page-container .home panda-footer {
	bottom: 0;
	width: 100%;
	z-index: 99;
	position: absolute;
}

// -----------------------
// Work
// -----------------------

#page-container .work {
	.showcase .item {
		text-align: center;
		width: 100%;
		height: 100%;
		max-width: 300px;
		max-height: 300px;
		border-bottom: 1px solid #f5f5f5;
		padding: 0;
		.grid-content {
			padding: 60px 0;
		}
		&:last-child, &:nth-last-child(2) {
			border-bottom: 0;
		}

		@include breakpoint(small) {
			&:nth-child(odd) {
				border-right: 1px solid #f5f5f5;
			}
		}

		@include breakpoint(medium) {
			.grid-content {
				padding: 100px 0;
			}
			border-right: 1px solid #f5f5f5;
			&:nth-child(3), &:last-child {
				border-right: 0;
			}
			&:nth-last-child(3) {
				border-bottom: 0;
			}
		}
	}

	panda-mini-slider, div[panda-mini-slider] {
		ul {
			margin: 0;
			text-align: center;
			width: 100%;
			min-height: 230px;
			@include breakpoint(medium) {
				height: 500px;
			}
			img {
				border-radius:8px;
			}
		}
	}

	// @include breakpoint(small) {
	// 	.showcase .item:
	// }

	.showcase .item:nth-child(-n+2),
	.showcase .item:nth-child(5),
	.showcase .item:nth-child(6),
	.showcase .item:nth-child(9) {
	}

}


// -----------------------
// About
// -----------------------

#page-container .about {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-image: url(../img/bg-about.png);
	@include breakpoint( large ) {
		background-size: cover;
		background-position: center;
	}
	.social-icons {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			margin-right: 20px;
			@include breakpoint(large) {
				display: block;
				float: left;
			}
			&:last-child {
				margin: 0;
			}
			a {
				color: #c0c0c0;
				font-size: 30px;
				transition: color .5s ease;
				&:hover {
					color:$primary-color;
				}
				&.twitter:hover { color: #00aced }
				&.instagram:hover { color: #517fa4 }
				&.medium:hover { color: #00ab6b }
				&.github:hover { color: #4183c4 }
				&.linkedin:hover { color: #007bb6 }
			}
		}
	}

	.slider {
		max-width: 125px;
		margin: 0 auto;
		panda-mini-slider, div[panda-mini-slider] {
			margin-bottom: 50px;
			ul {
				margin: 0;
				width: 125px;
				height: 125px;
				img {
					border-radius:8px;
				}
			}
			.follow-link {
				margin-top: 10px;
				text-align: center;
				a {
					display: block;
					text-align: center;
					padding: 5px;
					color: #555;
					background-color: rgb(245, 245, 245);
					border: 1px solid rgb(221, 221, 221);
					box-shadow: 1px 1px rgb(221, 221, 221);
					text-transform: uppercase; font-size: 11px;
					transition: all .2s ease;
					&:hover {
						background-color: rgb(230, 230, 230);
						border: 1px solid rgb(220, 220, 220);
						box-shadow: 1px 1px rgb(220, 220, 220);
					}
				}
			}
			@include breakpoint(large) {
				margin-right: 30px;
			}
		}
		@include breakpoint(large) {
			max-width: 100%;
			margin: 0;
		}
	}

	.about-block {
		text-align: center;
		@include breakpoint(large) {
			text-align: left;
		}
		h1 {
			color: #3e3e3e;
			font-weight: 700;
			margin: 0 0 7px;
			line-height: 1;
		}
		h3 {
			color: #4e4e4e;
			margin: 0 0 10px;
			font-weight: 500;
		}
		p {
			color: #777;
		}
	}
}


// -----------------------
// Contact
// -----------------------

#page-container .contact {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-image: url(../img/bg-contact.png);
	@include breakpoint( large ) {
		background-size: cover;
		background-position: center;
	}
}

// -----------------------
// Footer
// -----------------------

panda-footer {
	width: 100%;
	padding: 10px 0 5px;
	bottom: 0;
	width: 100%;
	z-index: 99;
	position: fixed;
	background-color: rgba(#fff,.5);
	@include breakpoint(medium) {
		position: absolute;
	}
	.share-btn, .ck {
		width: 100%;
		height:26px;
	}
	.ck {
		text-align: right;
	}
}