---
name: contact
url: /contact
controller: ContactController as contactCtrl
---
<div class="contact +fill">
  <div class="+middle +fill">
    <div class="grid-block +no-overflow">
    	<div class="content">
	      <div class="inner-container">
		      <h1>neo@creativivitykills.co</h1>
		      <h4>...or any of <a href="#" ui-sref="about">my social media</a> pages.</h4>
		      <!--span class="work-status">I am <span class="available" ng-if="contactCtrl.available">available</span><span class="unavailable" ng-if="!contactCtrl.available">unavailable</span> for work.<span ng-if="!contactCtrl.available"> Sorry.</span></span-->
	      </div>
    	</div>
	</div>
</div>