---
name: work
url: /work
controller: WorkController as workCtrl
---
<div class="work +fill">
  <div class="+middle +fill">
    <div class="grid-block +no-overflow">
      <div class="content">
        <div class="inner-container">
        	<div panda-mini-slider photos="workCtrl.photos" interval="7"></div>
        		<p>&nbsp;</p>
						<p class="+center">
							<span class="footnote">
								Unfortunately (and fortunately) I want to keep the site snappy, ergo, I can't fit all of them here.
							</span>
						</p>
				</div>
			</div>
		</div>
	</div>
</div>