<div class="container">
  <div class="site-logo">
    <div class="content" ng-if="showLogo">
      <a href="#" ui-sref="home" title="Neo Ighodaro &mdash; Home"></a>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="content">
      <a href="#" title="Expand Menu">Menu</a>
    </div>
  </div>
  <div class="desktop-menu">
    <nav class="content">
      <ul role="navigation">
        <li><a href="#" ui-sref="about" title="All You Need To Know">About</a></li>
        <li><a href="#" ui-sref="work" title="Stuff I've Done">Work</a></li>
        <li><a href="#" title="Ramblings">Blog</a></li>
        <li><a href="#" title="Say Hi">Contact</a></li>
      </ul>
    </div>
  </div>
</div>